#default ignore list for cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


!.gitkeep
!.gitignore
#self defined
.vs/
.vscode/
.vscode/
out/
debug.log
GPUCache/
build/*
build/
build/*
build/