SET -GLOBAL
workingDir = D:\codes\EscapeFromSquirmer\Working_dir
sense step = 1
learn step = 1#no use
total step = 12000
time step = 0.005
dump step = 100
dump interval = 100
episode num = 1
save interval = 100
evalue interval = -1
export traj num = 10
ilearn = false
iload = true
iloadBest = true
inaive = false
ENDSET -GLOBAL
#####################
SET -AGENT
type = QLearning
threshold0 = -0.2 0.2
threshold1 = -0.2 0.2
lr = 0.15
lr sigma = 1000
epsilon = 0.0005
no exp episode = 1000
initial q value = 1000
GAMMA = 0.999
ENDSET -AGENT
#####################
SET -FLUID
type = Squirmer
Bn= 0 3e-4
sqr_radius= 1e-3
Lx = 8e-3
Ly = 8e-3
cap_radius = 1.02e-3
ENDSET -FLUID
#####################
SET -ACTIVEMATTER
amatternum = 10000
type = InertialessSwimmer
vswim = 5e-5
vjump = 0.0
tjump = 0
invB = 0
radius = 0.0
lambda = 3
gravity = 0
fluid inertial torque = false
dimension = 2
initRange = 0 # no use here
reset episode = 1
ENDSET -ACTIVEMATTER
#####################
SET -TASK
type = EscapeFromSquirmer
ENDSET -TASK
######################
SET -SENSOR
type = CompositeSensor
sensor number = 2
sensor0 = PSQ
sensor1 = PSP
offset = 0 0
normalizer = 1 1
ENDSET -SENSOR
#####################
SET -ACTOR
type = ExtraAngVel
AngVel=1
ENDSET -ACTOR