SET -GLOBAL
workingDir = /mnt/c/work/RAMFworks/example
sense step = 10
learn step = 1
total step = 10000
time step = 1e-3
dump step = 1000
dump interval = 100
episode num = 1000
save interval = 100
evalue interval = -1
export traj num = 10
ilearn = true
iload = false
iloadBest = false
inaive = false
ENDSET -GLOBAL

#####################
SET -AGENT
type = PPO2
lr = 1e-5
lr zero episdoe = 4000
GAMMA = 0.99
#nodes = 20 20 20
num mid = 100
batch size = 25
ENDSET -AGENT
#####################
SET -FLUID
type = Quiescent
Mesh Number = 97 97 97
DomainX = 10
DomainY = 10
DomainZ = 10

ENDSET -FLUID
#####################
SET -ACTIVEMATTER
amatternum = 10
type = PointVehicle
dimension = 3
vswim = 0.33
reset episode = 1
ENDSET -ACTIVEMATTER
#####################
#SET -INDIVIDUAL
#type = PointVehicle
#vswim = 1e-2
#dimension = 2
#reset episode = 1
#ENDSET -INDIVIDUAL
#####################
SET -TASK
type = NavigationPoint
#isTimeAvgTotalRw = true
target x = 3
target y = 3
target z = 3
bonusRange = 0.5
bonus = 1
panelty = -0.00001
ENDSET -TASK
######################
SET -SENSOR
type = Position
Dimension = 3
Direction = 0
normalizer = 10.0
ENDSET -SENSOR
#####################
SET -ACTOR
type = Cruising3DCont
ENDSET -ACTOR