SET -GLOBAL
# caseDir = /mnt/c/work/RAMFworks/surfing/optsurfer-v1-tau3/
caseDir = /example
random seed = 1
sense step = 10
learn step = 2000
total step = 20000
time step = 1e-2
dump step = 1000
dump interval = 10
episode num = 1
save interval = 10
evalue interval = -1
export traj num = 20
ilearn = true
iload = false
iloadBest = false
inaive = false
icuda = false
memory mode = 1
simulation type = 0
ENDSET -GLOBAL
#####################
SET -AGENT
type = PPO2
lr = 2e-4
lr zero episode = 5000
lr critic ratio = 0.2
GAMMA = 0.99
#nodes = 20 20 20
num mid = 64
batch size = 25
epochs = 4
entropy loss coeff = 0.005
memory number = 5
clip = 0.1 # ppo clip
ENDSET -AGENT
#####################
SET -FLUID
type = MultiscaleStochasticFlow
Mesh Number = 401 401 2
DomainX= 14.142135623730951
DomainY = 14.142135623730951
DomainZ = 1

noise Mesh Number = 401 401 2
noise.DomainX = 1.0
noise.DomainY = 1.0
noise.DomainZ = 1
main flow data path = /flowfield/randomFlow2D
main flow indeces = 005000 009000 1000
noise flow data path = /flowfield/randomFlow2D
noise flow indeces = 005000 005000 1000
tau main flow = 20
tau noise = 5.00
noise.uscale = 0.0
mainflow.uscale = 0.707
ENDSET -FLUID
#####################
SET -ACTIVEMATTER
amatternum = 100
type = InertialessSwimmer
dimension = 2
direction = 2
vswim = 0.5
invB = 0.0
lambda = 1.0
gravity = 0.0
rho_p = 1000
nu = 1e-6
fluid inertial torque = false
random initial = true
reset episode = 1
PosInitMode = box
OrientInitMode = uniform
PosInitCoreCenter = 0 0 0
PosInitCoreRange = 0 0 0
# PosInitCoreRange = 0.1 0.1 0
PosInitBoxSize = 0.14 0.14 0
# PosInitRingRange = 2 2.1
# OrientInitTheta = 0.7
ENDSET -ACTIVEMATTER
#####################
SET -TASK
type = EscapeFromCenter
# center = 3.141592653589793 0 0
CenterUsingAMInfo = true # uses particle initial position
dumpTaskInfo = false
ENDSET -TASK
######################
SET -SENSOR
type = CompositeSensor
sensor number = 4
normalizer = 1 1 1 1 1 1 1
offset = 0 0 0 0 0 0 0 
signal mask = 1 1 0 0 0 1 0 # when mask = 0, remove the corresponding signal. No need to change other configs.
sensor0 = OrientationPolor2D # nr, nt
sensor1 = FluidVelocity2DPolar # ur, ut
sensor2 = Strain2D # snn, snp
sensor3 = FluidVorticity2D # omega
Direction = 2
Dimension = 2
local frame = true # for strain2d sensor
originFromTask = true
ENDSET -SENSOR


#####################
SET -ACTOR
type = DeformationContActor
# type = NULLActor
shape factor range = -0.98 0.98
action.Scale = 1.0
ENDSET -ACTOR
